html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.customDiv {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom:10px;
}
label{
  color: gray;
}
img {
  margin-bottom: 10px;
  margin-top: 10px;
}
.buttons{
  margin-bottom: 5px;
  margin-top: 10px;
}
.buttons button{
  margin-bottom: 5px;
}
.badgeForks{
  background-color: orange;
}
.badgeWatchers{
  background-color: green;
}
.badgeStars{
  background-color: blue;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  text-align:center;
}
